<h2>Hi, I'm Luiz Felipe Lee</h2>
<p class="author__text">  I'm interested in becoming a Backend Developer, studying new technologies, 
    and developing personal projects. I graduated in Production Engineering at PUC-SP in Brazil,
    worked as Data Analytics/Planner Junior with SQL, Python, and other tools, such as Advanced Excel and Power BI.</p>
 <br>
 <h4> My projects: </h4>
 <p class="author__text">• Wee's Blog - in progress</p>
 <p class="author__text">• Weelee's Point of Sale System - in progress</p>
 <p class="author__text">• Animes/Manga website - future project</p>
 <p class="author__text">• Invoice Scan Tool - future project </p>
 <p class="author__text">• QR Code generator to connect Wifi temporary - future project</p>

<br>

 <h4> Technologies: </h4>
 <p class="author__text">• Python, SQL, MongoDB, JS, HTML, CSS, Django and NodeJS </p>
 <br>


 <h4> Languages: </h4>
 <p class="author__text">• Portuguese - Fluent </p>
 <p class="author__text">• English - Pre-Advanced/ in progress </p>
 <p class="author__text">• Cantonese - Basic </p>
 <p class="author__text">• Mandarin - Basic/in progress </p>

<br>

 <h4> Hobbies: </h4>
 <p class="author__text">• Work Out, Animes, Mangas, Movies, Series and TV Show.</p>

