<h2>How to reach me:</h2>
<br>
<br>
<p class="author__text">Email: luiz014@hotmail.com </p>
<br>
<div class="image-contact">
<a href="https://github.com/luizlee107">
  <img src="/img/git_logo2.png" class="contact-img" alt="git">
</a>

<br>
<br>
<a href="https://www.linkedin.com/in/luiz-filipe-lee-745160120/">
  <img src="/img/in_logo.png" class="contact-img" alt="git">
</a>
<br>
</div>


<br>
<form action="/contact" method="POST">

    <h4 for="name">Name:</h4>
    <input type="text" id="name" name="name">
  
   
    <h4 for="email">E-mail</h4>
    <input type="email" id="email" name="email" >
    
  <br>
    <h4 for="body">Message:</h4>
    <textarea id="body" name="body" cols="50" rows="10"></textarea>
  
    <input  type="submit" value="Send" class="btn">
  
  </form>